<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sr_Gdrt>
            <version>0.0.1</version>
        </Sr_Gdrt>
    </modules>
    <global>
        <models>
            <sr_gdrt>
                <class>Sr_Gdrt_Model</class>
            </sr_gdrt>
        </models>
        <helpers>
            <sr_gdrt>
                <class>Sr_Gdrt_Helper</class>
            </sr_gdrt>
        </helpers>
        <blocks>
            <sr_gdrt>
                <class>Sr_Gdrt_Block</class>
            </sr_gdrt>
        </blocks>
        <resources>
            <sr_gdrt_setup>
                <setup>
                    <module>Sr_Gdrt</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </sr_gdrt_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <sr_gdrt>
                    <file>sr_gdrt.xml</file>
                </sr_gdrt>
            </updates>
        </layout>
    </frontend>
    <default>
        <google>
            <sr_gdrt>
                <enabled>0</enabled>
                <product_use_sku>1</product_use_sku>
                <product_prefix></product_prefix>
                <product_suffix></product_suffix>
                <product_prefix_cp_only>0</product_prefix_cp_only>
                <product_suffix_cp_only>0</product_suffix_cp_only>
                <product_include_tax>0</product_include_tax>
                <debug>0</debug>
            </sr_gdrt>
            <sr_gdrt_pages>
                <home>cms/index/index</home>
                <searchresults>catalogsearch/result/index</searchresults>
                <category>catalog/category/view</category>
                <product>catalog/product/view</product>
                <cart>checkout/cart/index</cart>
                <purchase>checkout/onepage/success</purchase>
            </sr_gdrt_pages>
        </google>
    </default>
</config>
